<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<!--    <input type="hidden" name="timestamp" value="{{ timestamp }}"/>-->
{% for book in books %}
<form id="{{ book[1] }}" action="http://localhost:5000/to_csv" method="post">
    <div class="list-group">
    <button name="book_id" value="{{ books.index(book) }}" class="list-group-item list-group-item-action">{{ book[1] }}</button>
    </div>
</form>
{% endfor %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

<!--{% block content %}-->
<!--{% for post in posts %}-->
<!--    <article class="media content-section">-->
<!--      <div class="media-body">-->
<!--        <div class="article-metadata">-->
<!--          <a class="mr-2" href="#">{{ post.author }}</a>-->
<!--          <small class="text-muted">{{ post.date_posted }}</small>-->
<!--        </div>-->
<!--        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>-->
<!--        <p class="article-content">{{ post.content }}</p>-->
<!--      </div>-->
<!--    </article>-->
<!--{% endfor %}-->
<!--{% endblock content %}-->